[*]
charset=utf-8
end_of_line=lf
insert_final_newline=true
indent_style=space

[*.java]
indent_size=4
continuation_indent_size=8

[*.jsp]
indent_size=4
continuation_indent_size=8

[*.js]
indent_size=4
continuation_indent_size=4

[*.css]
indent_size=4
continuation_indent_size=8

[*.xml]
indent_size=4
continuation_indent_size=8

[{*.ddl,*.sql}]
indent_size=2
continuation_indent_size=4

[*.scss]
indent_size=2
continuation_indent_size=8

[{*.yml,*.yaml}]
indent_size=2
